$theme-colors: (
    "green" : #22BE6F,
    "green-live": #00ff80,
    "grey-dark": #2b3238,
    "orange": #FF2D20,
    "black": #000000
);

.bg-gradient{
    background: linear-gradient(to right,#00bb5d, #00ff80,#00bb5d);
    //width: 100%;
}

.h-body{
    min-height: 647px;
}


@media only screen and (min-width: 360px) {
    .imgCarouselProducts{
            width:auto;
            height: 400px;
        }
}

@media only screen and (min-width: 1024px) {
    .imgCarouselProducts{
            height: 600px;
            overflow: hidden;
        }
}

@media only screen and (min-width: 1400px) {
    .imgCarouselProducts{
        width:100%;
        height: auto;
        overflow: hidden;
    }
}
@import "~bootstrap/scss/bootstrap";
@import "~sweetalert2/src/sweetalert2";