.menu-bar{
    height: 100vh;
    
    display: inline-block;
    vertical-align: top;
}

.menu-bar:hover{
    color: #ffffff;
}

.menu-bar ul{
    list-style: none;
    padding-inline-start: 0px;
    padding: 0px 20px 10px 10px;
}

.menu-bar hr{
    background-color: #9b9b9b;
}

.menu-bar a{
    text-decoration: none;
    font-size: 25px;
    color: #9b9b9b !important;
    padding: 5px;
}


.menu-bar a:hover{
    color: #F1F1F2 !important;
}

.menu-bar-item-active{
    
    background-color: #F1F1F2;
    border-radius: 5px;    
}
.menu-bar-item-active a{
    color:#3f3f3f !important;
}

.menu-bar-item-active a:hover{
    color:#3f3f3f !important;
}

.menu-icon{
    height: 105px;
    width: 100%;
    font-size: 30px;
    color: #ffffff;
}

.menu-icon img{
    margin-top: 15px;
    width: 60px;
    height: auto;
}

.content-dashboard{
    vertical-align: top;
    display: inline-block;
    height: 100vh;
    padding: 30px;
    overflow: scroll;
    background-color: #F1F3FA;
}

.dashboard{
    display: grid;
    /* aqui eu defino que o Grid tem Duas colunas uma com width:auto e outra com 50px */
    grid-template-columns: 200px auto; 
}